---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro'
import Container from '../layouts/Container.astro'
import Footer from '../components/Footer.astro'
import SkipMenu from '../components/SkipMenu.astro'
import '@fontsource/barlow';
import Breadcrumbs from "../components/Breadcrumbs.astro";

const props = Astro.props
const { title, metaTitle } = props
const pathname = new URL(Astro.request.url).pathname;
---
<html lang="en-us"  class="bg-black">
  <head>
    <meta charset="utf-8">
    { <title>{ metaTitle || title || "Untitled" }</title> }
    <style>
      @import "../styles/global.css";
    </style>
    <!-- Add some meta tags here -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1C5RK9RBV1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1C5RK9RBV1');
    </script>
    <ViewTransitions />
  </head>
  <body class="bg-black">
    <SkipMenu/>
    <canvas transition:persist="space" id="space-travel" class="fixed w-full h-screen z-0"></canvas>
    <div class="relative z-20 pb-12">
      <Header {...props}/>
      { !['/index.html',','].includes(pathname) ? (
        <Container>
          <div class="pl-2 pb-12">
            <Breadcrumbs />
          </div>
        </Container>
      ) : null}
      <Container>
        <slot />
      </Container>
      <Footer />
      <script>
        import Space from 'space-travel' assert { type: "module" };
        console.log(Space)
        new Space({ 
          canvas: document.getElementById("space-travel"),
          throttle: 0.02
        }).start();
      </script>
    </div>
</body>
</html>